* { box-sizing: border-box; }

body {
  padding: 2em;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-block-end: 3em;
}

.fancy-li {
  font-size: 1.1em;
  padding-inline-start: 2em;
  list-style-position: inside;
}

.fancy-li + .fancy-li { margin-block-start: 1em; }